.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding-left: 64px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  margin: 0;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
  z-index: 2;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  object-fit: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

.logo {
  background-image: url(../images/logo_place_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 228px;
  height: 32px;
  z-index: 2;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.two-columns {
  display: flex;
  padding-top: 100px;
  margin: auto;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  font-size: 24px;
  line-height: 34px;
}

.two-columns__span-accent {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.digits {
  padding: 100px 0;
}

.section-title {
  text-align: center;
  width: 60%;
  padding-bottom: 20px;
  margin: auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-title_theme_dark {
  color: white;

}

.section-subtitle {
  text-align: center;
  width: 60%;
  margin: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  color: white;
}

.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
  margin: auto;
}

.table__cell {
  width: 250px;
  list-style: none;
  text-align: left;
  margin: 0;
  margin-top: 60px;
  padding: 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__heading_theme_dark {
  color: white;
}

.table__text {
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text_theme_dark {
  color: white;
}

.feynman {
  position: relative;
  height: 890px;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  text-align: center;
}

.feynman__title {
  margin: auto;
  padding-top: 100px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin: 0;
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding: 90px 0;
  z-index: -2;
}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  box-sizing: border-box;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 0;
  padding: 18px 0;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__social_icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.column__heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin: 0;
}

.column__links {
  padding-top: 20px;
  padding-bottom: 16px;
}

.column__link {
  display: flex;
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  align-items: center;
}
